*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
}

.container {
    width: 100%;
    max-width: 120rem;
    margin: auto;
    padding: 0 1.5rem;
}

.image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    grid-template-areas: 
            'img1 img2 img3 img3'
            'img1 img4 img5 img6'
            'img7 img8 img8 img6'
            'img9 img10 img11 img12';
}

.image-gallery a{
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.image-gallery a ion-icon{
    color: rgba(255, 255, 255, 0.6);
    font-size: 3rem;
    position: relative;
    z-index: 100;
    padding: 1rem 3rem;
    border-radius: 0.4rem;
    opacity: 0;
    transition: 0.5s opacity;
}

.image-gallery a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: 0.5s opacity;
}

.image-gallery a:hover ion-icon,
.image-gallery a:hover::before{
    opacity: 1;

}

.img1{
    grid-area: img1;
    min-height: 51.5rem;
    background-image: url(../img/projects/project_1/1.jpeg);
}
.img2{
    grid-area: img2;
    background-image: url(../img/projects/project_1/2.jpeg);
}
.img3{
    grid-area: img3;
    background-image: url(../img/projects/project_1/3.jpeg);
}
.img4{
    grid-area: img4;
    background-image: url(../img/projects/project_1/4.jpeg);
}
.img5{
    grid-area: img5;
    background-image: url(../img/projects/project_1/5.jpeg);
}
.img6{
    min-height: 51.5rem;
    grid-area: img6;
    background-image: url(../img/projects/project_1/6.jpeg);
}
.img7{
    grid-area: img7;
    background-image: url(../img/projects/project_1/7.jpeg);
}
.img8{
    grid-area: img8;
    background-image: url(../img/projects/project_1/8.jpeg);
}
.img9{
    grid-area: img9;
    background-image: url(../img/projects/project_1/9.jpeg);
}
.img10{
    grid-area: img10;
    background-image: url(../img/projects/project_1/10.jpeg);
}
.img11{
    grid-area: img11;
    background-image: url(../img/projects/project_1/11.jpeg);
}
.img12{
    grid-area: img12;
    background-image: url(../img/projects/project_1/12.jpeg);
}
